<!-- <mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->

<mat-toolbar class="navbar">
    <img src="/webComLogo.png" alt="logo">
    <button matButton>
        <h2 class="nav-title" (click) = "goToHome()">WebCom</h2>
    </button>
    <span class="example-spacer"></span>
    <div class="nav-items-container">
   <app-search-bar-component (searchEvent)="handleSearch($event)"></app-search-bar-component>
   @if (this.authService.isLoggedin()) {

    <button matButton [matMenuTriggerFor]="menu">
        {{this.authService.customerName()}}
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

    <button matIconButton aria-label="Cart" (click)="goToCart()">
        <mat-icon>shopping_cart</mat-icon>
    </button>
   }
   @else {
    <button matButton (click)="goToLogin()">Login</button>
    <button matButton (click)="goToRegister()">Register</button>

   }
    
    
    </div>
</mat-toolbar>