<div class="shipping-selector">
  @for (car of carrier; track car.carrierID) {
  <label class="shipping-card" [class.selected]="selectedCarrier === car" (click)="selectedCarrier = car">
    <div class="checkbox-container">
      <input type="radio" name="carrier" [checked]="selectedCarrier === car">
      <span class="checkmark"></span>
    </div>
    <div class="shipping-info">
      <h3>{{ car.carrierName }}</h3>
      <p>{{ car.days }} Business Days</p>
    </div>
  </label>
  }

  <!-- Final Action Button -->
  <button class="payment-btn" (click)="continueToPayment()">Continue to payment</button>
</div>
