<div class="address-checkout">

  <form [formGroup]="addressForm" class="address-form">
    <!-- Row 1: Split Name -->
    <!-- <div class="form-row split">
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
    </div> -->

    <!-- Row 2: Full Address -->
    <div class="form-row">
      <input formControlName="address" type="text" placeholder="Address">
    </div>

    <!-- Row 3: Apartment (Optional) -->
    <!-- <div class="form-row">
      <input type="text" placeholder="Apartment, suite, etc (optional)">
    </div> -->

    <!-- Row 4: City -->
    <!-- <div class="form-row">
      <input type="text" placeholder="City">
    </div> -->

    <!-- Row 5: Three Columns (Country, City/State, Zip) -->
    <div class="form-row three-col">
      <div class="select-wrapper">
        <!-- <select>
          <label for="Country">Country</label> -->
      <select formControlName="country" name="Country" id="country">
        <option value="India">India</option>
        <option value="USA" selected>USA</option>
        <option value="Japan">Japan</option>
      </select>
        <!-- </select> -->
      </div>
      <div class="select-wrapper">
        <div class="form-row">
      <input formControlName="city" type="text" placeholder="City">
    </div>
      </div>
      
    </div>

    <!-- Row 6: Optional -->
    <div class="form-row">
      <input formControlName="pincode" type="text" placeholder="Zipcode">
    </div>

    <!-- Row 7: Checkbox -->
    <div class="checkbox-row">
      <input type="checkbox" id="save-info">
      <label for="save-info">Save contact information</label>
    </div>

    <!-- Action Button -->
    <!-- <button type="submit" class="continue-btn">Save Address & Continue</button> -->
  </form>
</div>
